<?xml version="1.0" encoding="utf-8"?>
<!--
/* Copyright (C) 2011-2012 Test Muroi (test.muroi@gmail.com)
 *
 * This program is free software: you can redistribute it and/or modify 
 * it under the terms of the GNU General Public License as published by 
 * the Free Software Foundation, either version 3 of the License, or 
 * (at your option) any later version.
 */
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="jp.gr.java_conf.remota.android"
      android:versionCode="00010000"
      android:versionName="01.00.00" android:installLocation="auto">
      
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    
    <supports-screens android:largeScreens="true" />
    <uses-sdk android:targetSdkVersion="8" android:minSdkVersion="8"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="false">
        <activity android:name="Remota"
                  android:label="@string/app_name" 
                  android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="DeviceListActivity" android:label="@string/app_name">
        </activity>
        <activity android:name="TouchPadActivity" android:label="@string/app_name"
            android:configChanges="orientation">
        </activity>
        <activity android:name="InformationActivity" android:label="@string/app_name">
        </activity>
        <activity android:name="SettingsActivity" android:label="@string/app_name"
            android:configChanges="orientation">
        </activity>
        <activity android:name="HelpActivity" android:label="@string/app_name">
        </activity>
        <activity android:name="KeyboardActivity" android:label="@string/app_name"></activity>
        <activity android:label="@string/app_name" android:name="MotionPadActivity"></activity>

    </application>
</manifest>
