body {
    margin: 0.5em;
    padding: 0;
    background-color: #ceccee;
    color: black;
}

body.hello {
    margin: 0.5em;
    padding: 0;
    background-color: black;
    color: white;
}

dt {
    font-weight: bold;
}

div.caution {
    color: red;
}

div.figure {
    margin: 0.5em;
    padding: 0.5em;
}

div.figure p {
    font-style: italic;
    text-indent: 0;
}
